# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.swp
*.swo

# VS Code
.vscode/

# Deployment
DEPLOYMENT.md
